* {
  margin: 0;
  padding: 0;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #33a;
}
.navbar li {
  float: right;
}
.navbar a {
  display: block;
  color: #fafafa;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #000;
}

.container {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.ShopItem {
  border: #000000 0.05rem solid;
  padding: 0.5rem 1rem 4rem 1rem;
  height: 29rem;
  width: 29rem;
  margin: 1rem;
  font-size: 0.8rem;
}

.ShopItem h2,
.ShopItem img {
  display: flex;
  justify-content: center;
}

.ShopItem img {
  padding: 0.5rem 0 0 0;
}

.ShopItem h2 {
  font-family: Arial, Helvetica, sans-serif;
}

.ShopContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  flex-wrap: wrap;
}
.addToCartButton {
  background-color: white;
  color: #000;
  padding: 0.5rem;
  transition-duration: 0.4s;
  width: 28rem;
}
.removeFromCartButton {
  background-color: white;
  color: #000;
  padding: 0.5rem;
  transition-duration: 0.4s;
  width: 28rem;
}
.addToCartButton:hover {
  background-color: green;
}
.removeFromCartButton:hover {
  background-color: red;
}

.addRemoveButtons {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-family: Impact;
}

.cartTitle,
.couponInput {
  display: flex;
  justify-content: center;
}

.couponInput {
  display: flex;
  justify-content: center;
}
